/* Contenedor de los filtros */
.sell {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.filtro-fechas {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  background-color: transparent;
  padding: 15px;
  width: 100%;
  max-width: 750px;
}

/* Estilo general para los labels */
.filtro-fechas label {
  display: flex;
  flex-direction: column;
  color: #634d29;
  font-size: 16px;
  font-weight: bold;
  gap: 5px;
}

/* Estilo general para los inputs */
.filtro-fechas input[type="date"] {
  background-color: rgb(124, 114, 90);
  color: #e2dacc;
  border: 1px solid rgb(124, 114, 90);
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  font-family: "Lora", serif;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Cambia el color del icono del calendario */
.filtro-fechas input[type="date"]::-webkit-calendar-picker-indicator {
  color: white;
  background-color: #f7ecd9;
  border-radius: 50%;
  padding: 5px;
}

/* Efecto al enfocar */
.filtro-fechas input[type="date"]:focus {
  border-color: #ac854c;
  box-shadow: 0 0 5px rgba(255, 152, 0, 0.8);
}

/* Botón de filtrar */
.filtro-fechas button {
  background-color: #ac854c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-family: "Lora", serif;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.filtro-fechas button:hover {
  background-color: #c7a066;
}
